body {

    --color-primary: crimson;
    --color-primary-dark: #007f67;
    --color-primary-secondary:darkblue;
    --color-error:red;
    --color-success:lightgreen;
    --border-ridus:4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    background:var(--color-primary);
    background-size: cover;

}
